#ts-biweekly-node-form {
  
}


/*
#ts-biweekly-node-form #field-ts-grant-values .field-name-field-ts-grant-ref {
  float: left;
  margin-right: 10px;
}
*/

#ts-biweekly-node-form .form-item-title {
  display: none;
}


table.timesheet-table, table#grant-table, table.timesheet-table td, table#grant-table td, table.timesheet-table th, table#grant-table th {
  border-collapse: separate;
  border: 1px solid #BEBFB9;
}

table.timesheet-table td, table#grant-table td, table.timesheet-table th, table#grant-table th {
  padding: 0.2em 0.5em;
}

table.timesheet-table caption, table#grant-table caption {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
  margin-top: 1.5em;
}

table.timesheet-table td, table#grant-table td {
  border: 1px solid #BEBFB9;
  border-collapse: separate;
}

table.timesheet-table, .table-center th, table#grant-table, table#grant-table th {
  text-align: center;
  vertical-align: middle;
}

#edit-field-employee-name label, #edit-field-employee-id label, #edit-field-pay-period-ref label, #field-ts-grant-values label, #edit-field-ts-grant-total label {
  float: left;
  margin-right: 1em;
}

.node-type-ts-biweekly .node-unpublished {
  background: none;
}

.node-type-ts-biweekly .unpublished {
  display: none;
}


.form-disabled input.form-autocomplete, .form-disabled input.form-text, .form-disabled input.form-file, .form-disabled textarea.form-textarea, .form-disabled select.form-select {
  color: #000 !important;
  font-weight: bold;
}


.node-ts-biweekly .field-label-inline .field-label {
  clear: left;
}

fieldset.ts-employee {
  border: none;
}


/**
 * Payroll Administration Page
 */

.view-timesheet-administration {
  font-size: 80%;
}

.view-timesheet-administration table {
  width: 100%;
}

.view-timesheet-administration td, .view-timesheet-administration th {
  padding: 1px 2px;
}

.view-timesheet-administration th {
  text-align: center;
}

.view-timesheet-administration td.active {
  background: none;
}


.print-content {
  color: #000 !important;
}


.print-site_name, .print-breadcrumb, .print-hr {
  display: none;
}